<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <title>Tech Blog</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div>
      <header>
        <nav>
          <span class='nav-group'>
            <a href='/' class='nav-el'>Home</a>
            <a href='/dashboard' class='nav-el'>Dashboard</a>
          </span>
          <span class='nav-group'>
            {{#if logged_in}}
              <button id='logout' class='nav-el'>Logout</button>
            {{else}}
              <a href='/login' class='nav-el'>Login</a>
              <a href='/sign-up' class='nav-el'>Sign Up</a>
            {{/if}}
          </span>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>