<div class='col-md-6'>
  <h2>Edit Post</h2>

  <form class='form edit-post'>
    <div class='form-group'>
      <label for='title'>Title:</label>
      <input class='form-input' type='text' id='title' />
    </div>
    <div class='form-group'>
      <label for='content'>Content:</label>
      <input class='form-input' type='text' id='content' />
    </div>
    <div class='form-group'>
      <button
        class='btn btn-primary update-button'
        type='submit'
      >Update</button>
    </div>
    <div class='form-group'>
      <button
        class='btn btn-primary delete-button'
        type='button'
      >Delete</button>
    </div>
  </form>
</div>

<script src='/js/viewPost.js'></script>